@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aquamarine;
  text-decoration-color: blue;
}
img {
  mix-blend-mode: multiply;
  width: 500px;
}

.childContainer {
  width: fit-content;
  height: 500px;
  margin: 40px;
  font-size: 50px;
  font-weight: 900;
}

.color1 {
  color: blue;
  font-size: 80px;
}
.color2 {
  color: brown;
  font-size: 80px;
}

.become {
  font-size: 60px;
}
